DATABASE_URL="postgresql://postgres:postgres@localhost:5432/revalidai?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=revalidai
POSTGRES_PORT=5432

# JWT
JWT_SECRET="generate_a_secure_random_string_min_32_chars"
JWT_REFRESH_SECRET="another_secure_random_string_min_32_chars"
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"

# Resend (Email)
RESEND_API_KEY="re_6dv3PfLK_KV7PpCK9E56r8mK58z6PC7Z2"
RESEND_FROM_EMAIL="onboarding@resend.dev"

# App
APP_URL="https://detractive-overpessimistic-alana.ngrok-free.dev"

#OPENAPI
OPENAI_API_KEY="key_da_open_api"

# Stripe
STRIPE_SECRET_KEY="sk_test_xxxxx"
STRIPE_WEBHOOK_SECRET="whsec_xxxxx"
STRIPE_PRICE_ID_PRO="price_xxxxx"

# Mercado Pago
MP_ACCESS_TOKEN="APP_USR-xxxxx"
MP_WEBHOOK_SECRET="xxxxx"

# PostHog
POSTHOG_API_KEY="phc_xxxxx"
POSTHOG_HOST="https://app.posthog.com"

# Admin
ADMIN_EMAIL="admin@revalidai.com"
APP_VERSION="1.0.0"